<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="index.html">Meine App</a>
        <nav class="navbar-nav ms-auto">
            <a class="nav-link text-white" href="registrieren.html">Registrieren</a>
            <a class="nav-link text-white" href="user_anmeldungs_dashboard.html">Dashboard user</a>
            <a class="nav-link text-white" href="admin_anmeldungs_dashboard.html">Dashboard admin</a>
        </nav>
    </div>
</header>